/* .container {
    border: 1px solid black;
    width: 33px;
    height: 33px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 3px;
    background-color: red;
}

.container div {
    border: 1px solid black;
    width: 27.2%;
    height: 9px;
}

.special {
    border: 1px solid white;
    background-color: white;
    border-radius: 10px;
} */