img {
    width: 200px;
    height: 200px;
}
/* 
.special {
    background-color: black;
    color: lightgreen;
    font-family: 'Courier New', Courier, monospace;
}

.revert {
    background-color: white;
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */