/* @ rule */
/* @import url(./styles3.css);
@import url(./style2.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.roboto-sanst {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

p {
    font-family: Roboto, sans-serif;
} */


/* div {
    border: 1px solid black;
    background-color: red;
    color: white;
    width: 150px;
    height: 150px;
    font-size: 32px;
} */

/* @media (condition) { */
    /* css properties */
/* } */

/* media quiries */


/* @media (max-width: 400px) {
    div {
        background-color: blue;
        color: gray;
        font-size: 12px;
        width: 120px;
        height: 120px;
    }
}

@media (min-width: 400px) and (max-width: 768px) {
    div {
        background-color: hotpink;
        color: beige;
        font-size: 16px;
        width: 140px;
        height: 140px;
    }
} */


.container {
    display: flex;
    border: 1px solid black;
    width: 100%;
    height: 100vh;
}

.cards {
    display: flex;
    background-color: cadetblue;
    font-size: 36px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 33.3%;
    height: 300px;
}

@media (max-width: 400px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .cards {
        width: 70%;
    }
}
