/* .para-1 {
    background-color: brown;
    z-index: 1;
}

.para-2 {
    position: absolute;
    top: 0;
    width: 300px;
    background-color: burlywood;
    z-index: -1;
}

.para-3 {
    background-color: red;
    z-index: -10;
} */

/* ul { */
    /* list-style-position: outside; */
    /* list-style: inside decimal; */
/* } */

/* table, tr, th, td {
    border-bottom: 1px solid black;
    border-radius: 5px;
} */

/* table {
    text-transform: capitalize;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: azure;
    background-color: aquamarine;
    width: 400px;
    padding: 5px;
} */

/* th {
    background-color: cadetblue;
    margin: 20px;
} */

/* td {
    empty-cells: hide;
    padding: 5px;
    text-align: center;
    background-color: gray;
} */

/* table {
    border-spacing: 8px;
} */

/* thead {
    position: sticky;
    top: 0px;
} */

/* th:hover {
    background-color: rgb(66, 165, 132);
    cursor: pointer; */
    /* cursor: url(./Images/cursor.png), auto;  */
/* } */


/* form {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 400px;
    margin: 0px auto;
} */

/* fieldset {
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black;
    border-left: 0px;
    border-right: 0px;
    display: flex;
    flex-direction: column;
    align-items:center;
    height: 50vh;
    padding: 20px;
} */

/* input { */
    /* cursor: url('./Images/cursor.png') auto; */
    /* margin: 10px 0px;
    padding: 5px;
    border: 0.5px solid gray;
    border-radius: 50px;
    background-color: bisque;
} */

/* input:focus {
    background-color: red;
} */

/* .email {
    margin-left: 30px;
} */