/* * {
    border: 1px solid black;
    padding: 0;
    margin: 0;
}

.para-1 {
    background-color: black;
    color: white;
}

p {
    background-color: aqua;
}

h1{
    background-color: aquamarine;
    font-size: small;
    font-weight: 100;
    width: 100vw;
    height: 100vh;
}

p {
    font-weight: 900;
} */


/* .main{
    background-color: blueviolet;
    border: 1px solid black;
    padding: 4px;
}

.first-container{
    background-color: midnightblue;
    color: white;
    border: 1px solid black;
    padding: 4px;
    margin: 5px 0px;
}

.second-container{
    background-color: midnightblue;
    color: white;
    border: 1px solid black;
    padding: 4px;
} */

/* .header, .main, .footer {
    border: 1px solid black;
}

h1, h2 {
    color: navy;
}

h2 {
    font-size: large;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
} */


/* p {
    background-color: #FFFFFF;
    color: azure;
} */